<template>
	<div>
		<h2>Users</h2>
		<form @submit.prevent="addUser" class="mb-3">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="First Name" v-model="user.first_name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Last Name" v-model="user.last_name">
			</div>
			<button type="submit" class="btn btn-light btn-block mb-2">Save</button>
		</form>

		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		    <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchUsers(pagination.prev_page_url)">Previous</a></li>

		    <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>

		    <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchUsers(pagination.next_page_url)">Next</a></li>
		  </ul>
		</nav>
		<div class="card card-body mb-2" v-for="user in users" v-bind:key="user.id">
			<h3>{{ user.first_name }}  {{ user.last_name }}</h3>
			<p>{{ user.email }}</p>
			<hr>
			<button @click="editUser(user)" class="btn btn-warning mb-2">Edit</button>
			<button @click="deleteUser(user.id)" class="btn btn-danger">Delete</button>
		</div>
	</div>
</template>

<script>
	export default{
		data() {
			return {
				//emtpy array
				users: [],
				//single user
				user: {
					id:'',
					first_name: '',
					last_name: '',
					gender: '',
					email: ''
				},
				//for update/put
				user_id: '',
				pagination: {},
				edit: false
			}
		},

		created() {
			this.fetchUsers();
		},

		methods: {
			//get all users
			fetchUsers(page_url) {
				let vm = this;
				page_url = page_url || '/api/users'
				fetch(page_url)
					.then(res => res.json())
					.then(res => {
						this.users = res.data;
						vm.makePagination(res.meta, res.links);
				})
				.catch(err => console.log(err));
			},
			//pagination
			makePagination(meta, links){
				let pagination = {
					current_page: meta.current_page,
					last_page: meta.last_page,
					next_page_url: links.next,
					prev_page_url: links.prev
				}

				this.pagination = pagination;
			},
			//delete
			deleteUser(id){
				if(confirm('Are You Sure?')) {
					fetch(`api/user/${id}`, {
						method: 'delete'
					})
					.then(res => res.json())
					.then(data => {
						alert('User Removed');
						this.fetchUsers();
					})
					.catch(err => console.log(err));
				}
			},
			addUser(){
				if(this.edit === false){
					//add
					fetch('api/user', {
						method: 'post',
						body: JSON.stringify(this.user),
						headers: {
							'content-type': 'application/json'
						}
					})
					.then(res => res.json())
					.then(data => {
						this.user.first_name = '';
						this.user.last_name = '';
						alert('User Added.');
						this.fetchUsers();
					})
					.catch(err => console.log(err));
				} else {
					//edit
					fetch('api/user', {
						method: 'put',
						body: JSON.stringify(this.user),
						headers: {
							'content-type': 'application/json'
						}
					})
					.then(res => res.json())
					.then(data => {
						this.user.first_name = '';
						this.user.last_name = '';
						alert('User Updated.');
						this.fetchUsers();
					})
					.catch(err => console.log(err));
				}
			},
			//edit user properties
			editUser(user){
				this.edit = true;
				this.user.id = user.id;
				this.user.user_id = user.id;
				this.user.first_name = user.first_name;
				this.user.last_name = user.last_name;
			}
		}
	}
</script>